@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

main div h4 {
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  padding-top: 30px;
}

.palette1 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Cinzel", serif;
  font-size: 18.5px;
  color: #cbb26b;
  background-color: black;
}

.palette2 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18.5px;
  color: #cbb26b;
  background-color: black;
}

.palette3 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18.5px;
  color: black;
  background-color: #cbb26b;
}

.palette4 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Konkhmer Sleokchher", cursive;
  font-size: 30px;
  color: black;
}

.palette5 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 20px;
  color: black;
}

.palette6 {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  color: black;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

.headertitle {
  font-size: 40px;
  font-family: "Cinzel", serif;
}

.subheadertitle {
  font-size: 18px;
  font-family: "Baskervville", serif;
}

.signature {
  font-size: 20px;
  font-family: "Dancing Script", cursive;
}

.NavBar {
  font-family: "Nanum Gothic", sans-serif;
}

.heading1 {
  font-size: 50px;
  font-family: "Konkhmer Sleokchher", cursive;
}

.heading2 {
  font-size: 20px;
  font-family: "Nanum Gothic", sans-serif;
}

.bodytext {
  font-size: 20px;
  font-family: "Cormorant Garamond", serif;
}
