@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;330;400;700;00&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
}

/* Header */
body {
  color: black;
  font-family: "Poppins", sans-serif;
  margin: auto;
  width: 100%;
  max-width: 1500px;
}

header {
  width: 90%;
  height: 70px;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 4rem;
}

.logo {
  width: 13rem;
  margin-top: 0.5rem;
}

nav {
  font-family: "Montserrat", sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

nav ul {
  display: flex;
  gap: 5rem;
}

nav .logo {
  display: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  transition: 0.2s;
  color: black;
  border-radius: 1.5rem;
  padding: 1rem;
}

nav ul li a:hover {
  background: #af6860;
  color: white;
}

nav ul li .active {
  background-color: #c93a2a;
  color: white;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.hamburguer {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  border-radius: 0.5rem;
  transition: 0.2s;
}

.hamburguer:hover {
  background: #ee5746;
  color: white;
}

.hamburguer div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #ee5746;
}

.boton {
  border: 2px solid #ee5746;
  font-size: 0.9rem;
}

button {
  /* background-color: white; */
  color: #ee5746;
  font-weight: bold;
  padding: 0.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  border: none;
}

/* Footer */
footer {
  margin: auto;
  padding-bottom: 2rem;
}

.footer-content-width {
  width: 90%;
  font-style: italic;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.redes-sociales img {
  width: 2.5rem;
}

footer p {
  font-size: 0.9rem;
}

/* Main Home Page */

.cuadricula-style {
  display: grid;
  grid-template-areas:
    "c c f f"
    "a t f f";
  margin: 5rem;
  gap: 1rem;
}

/* Contact Section */
.contact-information-section h2 {
  text-align: left;
  color: white;
  margin: 0;
  font-size: 5rem;
}

.contact-information-section p a {
  text-decoration: none;
  color: white;
}

.contact-information-section {
  background: rgb(40, 35, 124);
  background: linear-gradient(
    332deg,
    rgba(40, 35, 124, 1) 12%,
    rgba(155, 25, 79, 1) 45%,
    rgba(244, 17, 44, 0.7763699229691876) 84%
  );
  color: white;
  border-radius: 2rem;
  text-align: left;
  grid-area: c;
  padding-left: 5rem;
  padding-top: 22rem;
}

#total-drinks-output {
  font-weight: 400;
}

.contact-information-section p {
  font-weight: 100;
  line-height: 16px;
}

/* Call To Action */
.call-to-action {
  padding: 3rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(84, 14, 140, 0.6503195028011204) 46%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 2rem;
  grid-area: a;
}

.call-to-action p {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
  justify-content: center;
}

.call-to-action div {
  background-color: white;
  border-radius: 2rem;
  width: 8rem;
  padding: 1rem;
  text-align: center;
  color: #9e34db;
}

.call-to-action div a {
  text-decoration: none;
}

/* Ordered Beverages Counter */
.order-number {
  padding: 2rem;
  background: rgb(199, 103, 52);
  background: linear-gradient(
    315deg,
    rgba(199, 103, 52, 0.9164259453781513) 19%,
    rgba(35, 237, 7, 0.8604035364145658) 46%,
    rgba(174, 244, 17, 0.9304315476190477) 84%
  );
  border-radius: 2rem;
  grid-area: t;
}

.order-number p {
  color: white;
  font-weight: 300;
  font-size: 0.85rem;
}

.order-number span {
  font-weight: 700;
  font-size: 5rem;
  color: white;
}

/* Carousel */
.fruits-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 500px;
  height: 700px;
  border-radius: 2rem;
  overflow: hidden;
  grid-area: h;
}

.slides {
  width: 500%;
  height: 700px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 500px;
  height: 700px;
}

/* CSS for manual slide navigation */
.navigation-manual {
  position: absolute;
  width: 500px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-buton {
  border: 2px solid #e16f62;
  padding: 5px;
  border-radius: 1rem;
  cursor: pointer;
  transition: 1s;
}

.manual-buton:not(:last-child) {
  margin-right: 20px;
}

.manual-buton:hover {
  background: #e16f62;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -500px;
}

#radio3:checked ~ .first {
  margin-left: -1000px;
}

#radio4:checked ~ .first {
  margin-left: -1500px;
}

#radio5:checked ~ .first {
  margin-left: -2000px;
}

#radio6:checked ~ .first {
  margin-left: -2500px;
}

#radio7:checked ~ .first {
  margin-left: -3000px;
}

#radio8:checked ~ .first {
  margin-left: -3500px;
}

#radio9:checked ~ .first {
  margin-left: -4000px;
}

#radio10:checked ~ .first {
  margin-left: -4500px;
}

#radio11:checked ~ .first {
  margin-left: -5000px;
}

/* CSS for automatic navigation */
.navigation-auto {
  position: absolute;
  display: flex;
  width: 500px;
  justify-content: center;
  margin-top: 660px;
}

.navigation-auto div {
  border: 2px solid #e16f62;
  padding: 5px;
  border-radius: 1rem;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 20px;
}

#radio1:checked ~ .navigation-auto .auto-buton1 {
  background: #e16f62;
}

#radio2:checked ~ .navigation-auto .auto-buton2 {
  background: #e16f62;
}

#radio3:checked ~ .navigation-auto .auto-buton3 {
  background: #e16f62;
}

#radio4:checked ~ .navigation-auto .auto-buton4 {
  background: #e16f62;
}

#radio5:checked ~ .navigation-auto .auto-buton5 {
  background: #e16f62;
}

#radio6:checked ~ .navigation-auto .auto-buton6 {
  background: #e16f62;
}

#radio7:checked ~ .navigation-auto .auto-buton7 {
  background: #e16f62;
}

#radio8:checked ~ .navigation-auto .auto-buton8 {
  background: #e16f62;
}

#radio9:checked ~ .navigation-auto .auto-buton9 {
  background: #e16f62;
}
∫ #radio10:checked ~ .navigation-auto .auto-buton10 {
  background: #e16f62;
}

#radio11:checked ~ .navigation-auto .auto-buton11 {
  background: #e16f62;
}

/* Smoothies Menu */
.smoothies-menu-section {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: auto;
  color: #222;
  width: 1210px;
}

.section-title {
  text-align: center;
  margin-bottom: 5rem;
}

.section-title h2 {
  position: relative;
  color: #298dcb;
}

.section-title p {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 3rem 9rem;
}

.section-title h2::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #298dcb;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menus {
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.menu-column {
  width: 40%;
}

.single-menu img {
  width: 6rem;
  border-radius: 50%;
  border: 1.5px dashed #f46565;
  padding: 3px;
  margin-right: 1rem;
  transition: 0.3s;
}

.single-menu:hover img {
  transform: rotate(360deg);
}

.menu-column h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 1rem;
}

.menu-column h4::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #552222;
  bottom: 0;
  padding-left: 1rem;
}

.single-menu {
  display: flex;
  align-items: center;
}

.single-menu p {
  font-size: 0.7rem;
  font-style: italic;
  font-weight: 200;
  line-height: 1rem;
  margin-top: 1rem;
}

.menu-content h5 {
  font-weight: 400;
  border-bottom: 1px dashed #222;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.menu-content h5 span {
  color: #7b2218;
  float: right;
  font-weight: 600;
  font-style: italic;
}

/* Weather API */

.weather-division {
  padding: 0;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 20px 70px;
  color: #5d0d0d;
}

.current-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.date-container {
  font-weight: 100;
}

.date-container .time {
  font-size: 70px;
  font-weight: 300;
}

.date-container #am-pm {
  font-size: 30px;
  font-weight: 200;
}

.date-container .date {
  font-size: 30px;
}

.place-container {
  text-align: end;
}

.touristic {
  margin: 3rem;
}

.touristic h2 {
  color: #ab1777;
}

.place-container .time-zone {
  font-size: 1.8rem;
  font-weight: 200;
  padding-top: 1.2rem;
}

.place-container .country {
  font-size: 1.5rem;
  font-weight: 600;
}

.future-forecast {
  padding: 2rem;
  display: flex;
  color: white;
  justify-content: center;
  display: flex;
}

.future-forecast .today .day {
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
}

.weather-forecast #weather-forecast-item {
  align-items: center;
  justify-content: space-between;
  line-height: 1rem;
  max-width: 800px;
}

.weather-card {
  background: rgb(63, 94, 251);
  border-radius: 1rem;
  width: 14rem;
  height: 17rem;
  padding: 2rem;
  margin: 0.5rem;
}

.weather-container {
  display: flex;
}

.weather-card h3 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 400;
}

.weather-card figure {
  padding: 1rem;
  margin: 0;
  text-align: center;
}

.weather-card p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
  line-height: 1.3rem;
}

.weather-card p strong {
  font-size: 2rem;
}

.weather-card figure figcaption {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 0.9rem;
}

.min-max-temperatures {
  font-weight: 100;
}

/* Fruits Information Cards */

.fruits-information-division {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
}

.fruits-information-division h2 {
  color: #00a1a4;
}

.slide-container {
  max-width: 1100px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.4rem;
}
.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ee5746;
}
.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-weight: 200;
  text-align: left;
  padding: 0;
  line-height: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background: #077e81;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #ee5746;
}
.swiper-navBtn {
  color: #ee5746;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #ee5746;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #ee5746;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ee5746;
}

/* Places Section */

.places-section {
  display: flex;
  width: 100%;
  max-width: 1100px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between; /* Adjust as per your preference */
}

.place-card {
  flex-basis: calc(
    33.33% - 10px
  ); /* Adjust this for the desired number of columns */
  margin-bottom: 20px;
  box-sizing: border-box;
}

.place-card img {
  width: 100%;
  height: 100%;
}

.place-card {
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.place-card:hover .card-body {
  right: 0;
}

.places-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #1f3d4738;
  backdrop-filter: blur(5px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 2s;
  padding: 2rem;
}

.card-title {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-info {
  font-size: 0.8rem;
  font-weight: 200;
}

.place-card-btn {
  color: #ddebf0;
  background: #08537c;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;
  width: 6.5rem;
}

/* FRESH PAGE */

/* Form */
.fresh-page-body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e44b3a;
  padding: 5rem;
  margin: 2rem 0ß;
}

.container-form p {
  color: #333;
  font-size: 0.7rem;
  font-style: italic;
}

.name {
  margin: 0;
  padding: 0;
}

.container-form {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 2rem 5rem;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container-form h2 {
  font-size: 1.5rem;
  padding: 0;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container-form .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
}
.form .fruit-box {
  margin-top: 20px;
  text-align: center;
}
.fruit-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.fruit-option, .fruit) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
  line-height: 2rem;
}
.form .fruit {
  padding: 1rem;
  font-size: 0.8rem;
}

.fruit input {
  accent-color: #707070;
}
.form :where(.fruit input, .fruit label) {
  cursor: pointer;
}
.fruit label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form .form-button {
  height: 55px;
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #be2c1c;
  border-radius: 2rem;
  margin-top: 2rem;
}
.form .form-button:hover {
  background: white;
  color: #be2c1c;
  width: 100%;
}

.mysubmit {
  background: none;
  color: white;
  border: none;
  padding: 1rem 15rem;
  border-radius: 2rem;
}

.mysubmit:hover {
  background: #d64434;
}

/* ABOUT US PAGE */
.story {
  display: flex;
  align-items: center;
  margin: 2rem 8rem;
  font-family: "Merriweather", serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.story img {
  width: 350px;
}

.about-us-text {
  padding: 3.5rem;
  color: black;
}

.story p {
  font-weight: 100;
  font-size: 0.8rem;
  line-height: 1.7rem;
  text-align: justify;
}

.story h2 {
  margin: 0;
  color: black;
  font-weight: 700;
}

.first-letter::first-letter {
  font-size: 3rem;
  font-weight: 600;
  float: left;
  margin: 0.5rem;
}

.social-media-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.social-media-img {
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.social-media-contact img {
  width: 40px;
  align-content: center;
}

.social-media-contact h2 {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

.social-media-contact p {
  font-weight: 200;
  font-size: 0.5rem;
}

.about-us-resources {
  display: flex;
  padding: 3rem;
  margin: 2rem;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.biblio {
  display: flex;
  margin: 3rem 11rem;
}

.resources {
  padding: 3rem 5rem;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  align-items: center;
  margin: 2rem;
}

.resources ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 200;
}

.resources h2 {
  padding: 0;
  font-size: 1.3rem;
  font-weight: 400;
}

.grid-container {
  width: 400px;
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: white;
  margin: 0 1rem;
}

.confirmation-main {
  background: #e44b3a;
  padding: 8.5rem 2rem;
  margin: 2rem 0;
}

.confirmation-section {
  display: flex;
  justify-content: center;
}

.total-nutrientes {
  line-height: 0.5rem;
}

.other-info-confirmation {
  line-height: 0.5rem;
}

.inside-sec-c h1 {
  font-size: 1.3em;
  font-weight: 400;
  text-align: center;
  padding: 1rem;
  padding-top: 4rem;
}

.inside-sec-c h2 {
  font-weight: 500;
  padding: 0;
  padding-top: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.inside-sec-c p {
  font-size: 0.9rem;
  justify-content: center;
  font-weight: 200;
  font-size: 0.8rem;
}

iframe {
  width: 10rem;
  height: 10rem;
  padding: 0.2rem;
  margin: 1rem;
}

.socialMedia img {
  width: 50px;
}

.socialMedia {
  text-align: center;
}

.rating-stars {
  text-align: center;
}

.leave-review h3 {
  padding-top: 1rem;
  font-weight: 300;
}

.thank-you {
  line-height: 0.5rem;
}

.leave-review p {
  font-weight: 200;
  font-size: 0.9rem;
  font-style: italic;
}
