@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
  box-sizing: border-box;
}
.content {
  margin: 0 auto;
  height: 1000px;
  font-family: "Poppins", sans-serif;
  background-color: #e3f2fd;
}
picture img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}
/* Header */
header {
  height: fit-content;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding-bottom: 25px;
  width: 100%;
  background-color: #1976d2;
}

.header-content-width {
  margin: auto;
  max-width: 1400px;
}

.logo-display {
  display: flex;
  margin: auto;
  width: 90%;
  grid-row: 1/2;
  justify-content: space-between;
}

.page-title {
  text-decoration: none;
  color: white;
  padding-top: 35px;
  padding-left: 10px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: 3px;
  font-weight: 00;
}

.logo-display div:nth-child(1) {
  display: flex;
}
nav ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
nav ul li a:hover {
  background-color: white;
  color: black;
}

.meeting p {
  color: white;
  font-weight: 200;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2a83db;
  border-radius: 50px;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
}

#menu-button {
  display: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav-logo,
.nav-link,
.button {
  color: white;
  text-decoration: none;
  text-align: center;
}
/* a:visited {
  color: white;
}

.nav-link:visited {
  color: white;
} */

.nav-logo {
  font-size: 20px;
}

nav div ul {
  display: flex;
}

nav div ul li {
  list-style: none;
}

nav div a img {
  width: 65px;
}

.nav-items {
  gap: 150px;
}

.p-nav-bar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  width: 90%;
  text-align: center;
  border-radius: 25px;
  font-size: 20px;
  /* opacity: 1; */
  font-family: "Raleway", sans-serif;
  grid-row: 2/3;
}

.active-nav-button {
  background-color: white;
  text-align: center;
  border-radius: 50px;
  font-size: 20px;
  /* opacity: 5; */
}

.active-nav-button a {
  color: white;
}

.nav-button {
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  /* opacity: 5; */
  gap: 100px;
}

.nav-button a {
  color: white;
}

.logo {
  padding-top: 10px;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.social-media-icons-align {
  right: 45px;
  margin-top: 25px;
}

/* Containers */

.main_size {
  display: grid;
  grid-template-areas:
    "e h h s1"
    "w h h s2"
    "j n n s3";
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1300px;
  padding-top: 20px;
  margin: auto;
}

.container-hero-photo {
  color: white;
  border-radius: 12px;
  margin: 10px;
  grid-area: h;
  position: relative;
}

.container-news {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: n;
}
.container-news p {
  font-size: 17px;
  text-align: center;
}

.container-sp-1 {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: s1;
}

.container-sp-2 {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: s2;
}
.container-sp-3 {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: s3;
}

.container-join {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: j;
}

.container-event {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: e;
}

.container-event p a {
  text-decoration: none;
  color: #1976d2;
}

.container-weather {
  background: #fff;
  color: black;
  padding: 25px;
  border-radius: 12px;
  margin: 10px;
  grid-area: w;
}

.container-hero-photo h1 {
  position: absolute;
  text-align: left;
  font-size: 3rem;
  padding-left: 30px;
  padding-top: 35px;
  font-family: "Fjalla One", sans-serif;
}

/* Footer */

.footer {
  text-decoration: none;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
  color: white;
  width: 100%;
  background-color: #1976d2;

  line-height: 2px;
  font-family: "Raleway", sans-serif;
}
.footer_info {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.footer_info > div {
  display: flex;
}

.footer_info div:nth-child(1) {
  display: flex;
}

.img-logo-footer {
  width: 130px;
  padding-left: 10px;
}

.img-location-logo-footer {
  grid-column: 2/3;
  grid-row: 1/5;
}

.footer-inf-1 {
  grid-column: 3/4;
  grid-row: 1/5;
  text-decoration: none;
  line-height: 10px;
  padding-top: 33px;
}

.footer-map-img {
  width: 120px;
  padding-top: 20px;
  padding-left: 30px;
}

.img-location-map-footer {
  grid-row: 1/5;
  grid-column: 4/5;
}

.footer-inf-2 {
  grid-column: 5/6;
  grid-row: 1/5;
  line-height: 10px;
  padding-top: 33px;
}

.footer-inf-2 a {
  text-decoration: none;
}

.footer-d3 {
  text-align: center;

  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-title {
  text-decoration: none;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.footer-d3 {
  padding: 3px;
  grid-row: 5/7;
  grid-column: 1/8;
  background-color: white;
  color: black;

  border-radius: 2px;
}

.footer a {
  color: white;
}

/* Text */

h1 {
  text-align: center;
  font-size: 15px;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.text {
  font-size: 13px;
  text-align: justify;
  font-weight: 200;
}

.container-sp-1 img {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container-sp-1 h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.container-sp-1 p {
  text-align: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  line-height: 6px;
}

.container-sp-2 img {
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container-sp-2 h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.container-sp-2 p {
  text-align: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  line-height: 6px;
}

.container-sp-3 img {
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container-sp-3 h2 {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.container-sp-3 p {
  text-align: center;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  line-height: 6px;
}

.container-weather h1 {
  font-size: 22px;
}

.container-weather img {
  height: 80px;
  display: inline;
}

.container-weather h2 {
  text-align: right;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.container-weather p {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  line-height: 6px;
}

.weather-div {
  display: flex;
  padding-left: 20px;
  gap: 10px;
}

.container-weather div div p {
  font-size: 20px;
}

.container-join h1 {
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.container-join button {
  font-size: 11px;
  color: white;
  background-color: #1976d2;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding-left: 70px;
  padding-right: 70px;
  display: block;
  margin: 0 auto;
}

.container-join p {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.container-event div h2 img {
  height: 20px;
  padding-right: 10px;
}

.container-event h1 {
  padding-top: 20px;
  font-size: 20px;
}

.container-event h2 {
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.container-event p {
  text-align: center;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.container-hero-photo button {
  font-size: 15px;
  color: white;
  background-color: #1976d2;
  border-radius: 15px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  position: absolute;
  top: 130px;
  left: 30px;
}

/* Discover Page */

.content-discover-page {
  margin: auto;
  max-width: 700px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.miraflores-img {
  padding-bottom: 30px;
}

.macchupichu-img {
  padding-bottom: 30px;
}

.display-areas h1 {
  font-size: 30px;
  text-align: center;
}

.cerro7colores-img {
  padding-bottom: 30px;
}

.amazonas-img {
  padding-bottom: 30px;
}

.titicaca-img {
  padding-bottom: 30px;
}

.huascaran-img {
  padding-bottom: 30px;
}
