@media screen and (max-width: 700px) {
  .content {
    width: 100%;
  }

  picture img {
    width: 100%;
  }

  .header {
    width: 100%;
  }

  .header-content-width {
    max-width: 700px;
    width: 100%;
  }

  header ul {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  header ul li {
    list-style: none;
    text-align: center;
  }

  header ul li a {
    display: block;
    text-decoration: none;
  }

  nav ul li a:hover {
    background-color: white;
    color: black;
  }

  .p-nav-bar {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .nav-items {
    gap: 1px;
  }

  .page-title {
    margin-top: 10px;
    font-size: 25px;
  }

  .social-media-icons-align a img {
    margin-top: 10px;
    width: 30px;
  }

  .logo {
    padding-top: 30px;
    width: 60px;
  }

  .main_size {
    grid-template-areas:
      "h h"
      "e e"
      "w w"
      "n n"
      "s1 s1"
      "s2 s2";

    width: 100%;
    max-width: 650px;
    margin: auto;
  }

  .footer {
    width: 100%;
  }

  .footer-d3 {
    flex-direction: column;
  }

  .container-sp-3 {
    display: none;
  }

  .container-hero-photo {
    grid-area: h;
  }

  .container-hero-photo h1 {
    font-size: 40px;
    padding-left: 20px;
    padding-top: 10px;
  }

  .container-hero-photo button {
    font-size: 10px;
    color: white;
    background-color: #1976d2;
    border-radius: 15px;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    position: absolute;
    top: 85px;
    left: 40px;
  }

  .container-news {
    grid-area: n;
  }
  .container-event {
    grid-area: e;
  }
  .container-weather {
    grid-area: w;
  }
  .container-join {
    display: none;
  }
  .container-sp-3 {
    display: none;
  }
  .container-sp-1 {
    grid-area: s1;
  }

  .container-sp-2 {
    grid-area: s2;
  }

  .meeting p {
    font-weight: 200;
    font-size: 10px;
    padding-top: 5px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .footer {
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .footer_info {
    flex-direction: column;
    gap: 0;
  }
  .footer_info > div {
    flex-direction: column;
  }
  /* Hamburger menu */

  .nav {
    width: 100%;
    flex-direction: column;
  }

  .nav-button a {
    font-size: 10px;
  }

  #menu-button {
    display: block;
    height: 25px;
    background-color: white;
    color: black;
    border-color: white;
  }

  .nav.active {
    display: flex;
  }

  #menu-open {
    display: none;
  }

  #menu-open.active {
    display: block;
  }

  #menu-close {
    display: none;
  }
  #menu-close.active {
    display: block;
  }

  .miraflores-img img {
    width: 300px;
    height: 300px;
  }

  .miraflores-img p {
    font-size: 10px;
  }

  .macchupichu-img img {
    width: 300px;
    height: 300px;
  }

  .macchupichu-img p {
    font-size: 10px;
  }

  .cerro7colores-img img {
    width: 300px;
    height: 300px;
  }

  .cerro7colores-img p {
    font-size: 10px;
  }

  .amazonas-img img {
    width: 300px;
    height: 300px;
  }

  .amazonas-img p {
    font-size: 10px;
  }

  .titicaca-img img {
    width: 300px;
    height: 300px;
  }

  .titicaca-img p {
    font-size: 10px;
  }

  .content-discover-page {
    margin: auto;
    max-width: 300px;
    padding-bottom: 10px;
  }

  .display-areas h1 {
    font-size: 20px;
    text-align: center;
  }

  .container-news p {
    font-size: 11px;
  }

  .container-news h2 {
    font-size: 12px;
  }
}

.last-visit {
  font-size: 12px;
}
