@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&display=swap");

body {
  font-family: "Cormorant Garamond", serif;
}
.content {
  height: 1100px;
  margin: 0 auto;
  max-width: 800px;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(167, 81, 145);
  color: white;
  border: 2px black;
  border-radius: 1rem;
  height: 250px;
  text-align: center;
  font-family: "Satisfy", cursive;
}

header h1 {
  text-align: center;
  font-size: 70px;
  padding-left: 30px;
}

h1 {
  font-size: 2.5rem;
  margin: 1rem;
  font-weight: 300;
}

h2 {
  text-align: center;
  font-family: "Castoro Titling", cursive;
  font-weight: 10;
}

main {
  display: block;
}

.profile {
  height: 160px;
  width: 160px;
  margin-left: 80px;
  border-radius: 1rem;
}

footer {
  align-items: center;
  background-color: rgb(167, 81, 145);
  color: white;
  border: 2px rgb(167, 81, 145);
  border-radius: 1rem;
  height: 80px;
  text-align: center;
  padding-top: 15px;
  font-family: "Alegreya Sans SC", sans-serif;
  line-height: 5px;
}

div {
  background-color: rgb(240, 212, 233);
  padding: 20px;
  margin: 5px;
  border-radius: 0.5rem;
  text-align: center;
}

div:hover {
  transform: scale(1.05);
  background-color: rgb(216, 186, 208);
}

a {
  text-decoration: none;
  color: black;
}
